
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.header{
    background-image:url("../images/poster.avif");
    background-repeat: no-repeat;
    background-position: center;
    height: 73vh;
    width: 100%;
}

header > nav {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav>a ,.menu>a{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin:0 10px;
    font-size: 1.5rem;
}
.part2{
    margin-top: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.part2 h1{
    color: white;
    font-size: 3rem;
    padding: 20px;
}

.container{
    margin: 3rem auto;
    width: 80%;
}

.we-offer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    align-items: center;
    justify-content: center; 
}

.we-offer-card{
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.we-offer-card:hover{
    transform: scale(1.08);
}

.we-offer-card img{
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position:center;
}
.we-offer-content{
    padding: 10px;
}
.we-offer-content h2{
        font-size: 1.5rem;
        font-weight: 400;
}

.collection h1{
    font-weight: 550;
}

.collection > .subheading{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
    font-weight: 400;
}
.collection .subheading span:nth-child(2){
    color: #F05DA7;
}

.collection-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

}

.collection-card{
height: 320px;
min-width: 270px;
border-radius: 10px;
border: 1px solid #e0e0e0;
background-position: center;
background-size: cover;
position: relative;
overflow: hidden;

}

.card1{
    background-image: url("../images/corrido.avif");
}
.card2{
    background-image: url("../images/camera.avif");
}
.card3{
    background-image: url("../images/maindoor.avif");
}


.overlay{
   background: linear-gradient(0deg,rgba(0,0,0,0.9)0%,
   rgba(0,0,0,0.04)50%,
   rgba(0,0,0,0)95%);
   height: 100%;
   filter: brightness(10%);
}

.collection-card > .content{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
}

.area span{
    font-size: 2.5rem;
    display: inline-block;
  margin-bottom: 30px;  
  font-weight: 400;
}

.area{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}

.area > .area-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

@media(max-width:600px) {
.area>.area-container{
    flex-wrap: wrap;
} 
.part2{
    font-size: 10px;
}   
}

.box{
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    font-size: large;
    transition: all 0.3s ease;
  flex-wrap: wrap;
}

.box:hover{
    box-shadow: 10px 10px 10px 0 rgb(150, 145, 145);
}

.get_app{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: #FFFBF7;
    margin: 100px auto;
    flex-wrap: wrap;
}

.email-phone{
    display: flex;
    gap: 2.5rem;
}

.email-phone > .phonebtn,.emailbtn{
    accent-color: rgb(239,79,95);
}
.playstore{
    display: flex;
    gap: 1.5rem;
}

.playstore > img{
    width: 150px;
}

.form1>#info{
 height: 50px; 
 width: 300px;
 padding: 10px;
 font-size: 20px; 
 border-radius: 10px;
 border: none;
 border: 1px solid rgb(239,79,95) ;
 outline: none;
}

.form1>#submit{
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #CDCBC9;
}

footer{
    background-color: #F8F8F8;
    padding: 10px;
}

.footer{
    margin: 3rem auto;
    width: 90%;
}

.sec1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.flag{
    display: flex;
    gap: 1.5rem;
}
.flag > button{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.link{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 3rem auto;
    gap: 3rem;
    text-align: left;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.links> a{
    color: grey;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
}
.links> a:hover{
    color: black;
}

.about > .social{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 1rem;
}
.about> h5{
    font-weight: 400;
    font-size: 20px;
}

.social a i{
 color:white;
font-size: 20px;
width: auto;
border-radius: 50%;
padding: 10px;
background-color: black;
}

footer >.disclaimer{
    margin: auto;
    width: 90%;
    font-size: 14px;
    text-align: left;

} 

